.chosenOptionContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:stretch;
  padding: 10px 10px;
  border-radius: 15px;
  background: var(--white);
}
.img-card-option{
  width: 160px;
  height: 160px;
}
.option-text{
  align-self: center;
}
