<div *ngIf="initiator.option===undefined&&initiator.name==='bot'" class="chosenOptionContainer">
  <h4 class="option-text">Бот:</h4>
  <img class="img-card-option" src="../../assets/images/bot.png" alt="bot-img">
</div>
<div *ngIf="initiator.option===undefined&&initiator.name==='user'" class="chosenOptionContainer">
  <h4 class="option-text">Вы:</h4>
  <img class="img-card-option" src="../../assets/images/user.png" alt="user-img">
</div>

<div *ngIf="initiator.option!==undefined&&initiator.name==='bot'&&initiator!==undefined" class="chosenOptionContainer">
  <h4 class="option-text">Бот:</h4>
  <app-option [option]=initiator.option ></app-option>
</div>
<div *ngIf="initiator.option!==undefined&&initiator.name==='user'" class="chosenOptionContainer">
  <h4 class="option-text">Вы:</h4>
  <app-option [option]=initiator.option  ></app-option>
</div>
