.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}


.modal-content {
  position: relative;
  display: block;
  background-color: var(--white);
  margin: auto;
  padding: 20px;
  width: 30%;
  height: 20%;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}


@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}


.close {
  align-self: flex-end;
  color: var(--primary-color);
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  padding: 2px 16px;
}

.modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;

}
.btn{
  float: right;
  align-self: flex-end;
  background: var(--secondary-color);
  padding: 4px 6px;
  color: var(--white);
  border: none;
  border-radius: 8px;
}
.btn:hover{
  cursor: pointer;
  background: var(--btn-primary);
}
