<div id="myModal" class="modal" #myModal>
  <div class="modal-content">
    <div class="modal-header">
      <span class="close" (click)="closeModal()">&times;</span>
    </div>
    <div class="modal-body">
      <p>{{message}}</p>
    </div>
    <div class="modal-footer">
      <button class="btn" (click)="start()">Старт</button>
    </div>
  </div>
</div>
