.option{
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 10px 8px 5px var(--light-shadow);
  padding: 10px 10px;
  border-radius: 15px;
  border: solid 1px var(--light-shadow);
  margin: 5px;
  background: var(--light-blue);
}
.option:hover{
  transform: scale(1.1);
  transition:all 0.5s ease-in-out 0.1s;
  cursor: pointer;
}
.img-option{
  width: 50px;
  height: 50px;
}
.text-option{
 font-style:var(--primary-color)
}
