 <div class="game-container">
     <div class="game-content">
       <div class="score-container">
         <h4 class="score-text">
           {{user.score}}/5
         </h4>
         <h4 class="score-title">Счет:</h4>
         <h4 class="score-text">
           {{bot.score}}/5
         </h4>
       </div>
       <div class="chosen-card-container">
         <app-chosen-option [initiator]=user></app-chosen-option>
         <app-chosen-option [initiator]=bot></app-chosen-option>
       </div>
       <div class="options-container">
         <app-option *ngFor="let item of options"
                     [option]=item
                     (chooseCard)="chooseCard($event)"
         >
         </app-option>
       </div>
       <button class="btn" (click)="startAgain()" >Начать заново</button>
     </div>
 </div>
 <app-winner-modal (startAgain)="startAgain()" ></app-winner-modal>
