.game-container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-content{
  width:70%;
  height:85%;
  display: flex;
  flex-direction: column;
  background: var(--bg-color);
  border-radius: 15px;
  box-shadow: 5px 10px 30px var(--shadow-color);
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
}
.options-container{
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.chosen-card-container{
  width: 50%;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.score-container{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background: linear-gradient(to right,var(--light-blue),var(--white));
  padding: 7px;
  border-radius: 15px;
}
.btn{
  float: left;
  align-self: flex-end;
  background: var(--secondary-color);
  box-shadow: 10px 7px 5px var(--primary-color);
  padding: 4px 6px;
  color: var(--white);
  border: none;
  border-radius: 8px;
}
.btn:hover{
  cursor: pointer;
  background: var(--btn-primary);
}
