*{
  font:20px/1.5 'Roboto', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  overflow: hidden;
  min-height: 100%;
  background: linear-gradient(to top,#150C47 70%,#1801D6);
}
:root {
  --primary-color: #150C47;
  --secondary-color: #1801D6;
  --accent-color: #e8e7fa;
  --shadow-color: #3A3942;
  --bg-color:#ECECEC;
  --light-shadow:#A1A0A8;
  --light-blue:#D5CFFF;
  --white:#F8F8F8;
  --btn-primary:#231A8E;
}
